<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Portfolio</h1>
        {% for balance in account.balances %}
        <ul>
            <li>Asset: {{ balance.asset }}</li>
            <li>Free: {{ balance.free }}</li>
            <li>Locked: {{ balance.locked }}</li>
        </ul>
        {% endfor %}

        <hr>

        <h1>Orders</h1>
        {% for order in account.orders %}
        <ul>
            <li>
                {{ order[0].symbol }}
                {% for trade in order %}
                {% if trade.status != 'CANCELED' %}
                <ul>
                    <li>OrderID: {{ trade.orderId }}</li>
                    <li>Price: {{ trade.price }}</li>
                    <li>Quantity: {{ trade.origQty }}</li>
                    <li>Status: {{ trade.status }}</li>
                    <li>Side: {{ trade.side }}</li>
                    <li>Time: {{ trade.time }}</li>
                    ----
                </ul>
                {% endif %}
                {% endfor %}
            </li>
        </ul>
        {% endfor %}
    </body>
</html>
